<link rel="stylesheet" href='/stylesheets/form.css' />
<%- include('../partials/header') %>

    <form action="/patients" method="POST">

        <div>
          <input type="text" name="nricfin" required placeholder=" " onkeyup="this.value = this.value.toUpperCase();" pattern="[0-9]{4}[A-Za-z]{1}" required/>
          <label for="nricfin">NRIC/FIN Example: 1234A</label>
          <div class="requirements">
            Please enter 4 digits followed by 1 alphabet.
          </div>
        </div>
        
        <div>
            <input type="text" name="name" required placeholder=" " onkeyup="this.value = this.value.toUpperCase();" required/>
            <label for="name">Name</label>
            
          </div>
       
        <div>
          <input type="text" name="contactno" required placeholder=" "/>
          <label for="contactno">Contact No</label>
        </div>
      
        <div>
          <input type="date" name="dob" required/>
        </div>
      
        <div>

            <select name="gender" required>
                <option value="" disabled selected>Gender</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select><br />
        </div>
      
        <div>
            <select name="nationality" required>
                <option value="" disabled selected>Nationality</option>
                <option value="SINGAPOREAN">SINGAPPOREAN</option>
                <option value="WORK PERMIT">WORK PERMIT</option>
                <option value="PR">PR</option>
                <option value="S-PASS">S-PASS</option>
                <option value="E-PASS">E-PASS</option>
            </select><br />
        </div>
      
        <div>
          <input type="text" name="streetaddress" placeholder=" " required onkeyup="this.value = this.value.toUpperCase();"/>
          <label for="contactno">Street Address</label>
        </div>
      
        <div>
          <input type="text" name="postalcode" required placeholder=" "/>
          <label for="postalcode">Postal Code</label>
        </div>
      
        <div>
          <input type="text" name="unitno" required placeholder=" " onkeyup="this.value = this.value.toUpperCase();"/>
          <label for="unitno">Unit No</label>
        </div>
      
        <div>
            <input type="text" name="drugallergies" required placeholder=" " onkeyup="this.value = this.value.toUpperCase();"/>
          
          <label for="drugallergies">Drug Allergies (separate with commas)</label>
        </div>
      
        <div>
          
            <select id="vaccination" name="vaccination" required>
                <option value="" disabled selected>Vaccination</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
            </select> <br />
        </div>
      
        <div>
            <select name="vaccinationtype">
                <option value="" disabled selected>Vaccination Type</option>
                <option value=" "></option>
                <option value="PFIZER">PFIZER</option>
                <option value="MODERNA">MODERNA</option>
                <option value="NOVAVAX">NOVAVAX</option>
                <option value="SINOVAC">SINOVAC</option>
            </select> <br />
        </div>
        
        <input type="submit" value="Create Patient Profile" />
      
      </form>
    <%- include('../partials/footer') %>