<%- include('../partials/login') %>
<%= message %>

<div class="row header">

  <div class="col-md-10">
    <h2>Patient Mangement System</h2>
  </div>

  <div class="col-md-2 ">
    <ul class="nav nav-pills ">
      <li class="dropdown dmenu">
        <form method="GET" action="/users/forget" class="forget">
          <button type="submit" class="btn btn-primary " >Forget password</button>

        </form>
        
        
      </li>
    </ul>
  </div>
</div>

<form method="POST" action="/users/login" id="login-form" class="login-form" autocomplete="off" role="main">
  <h1 class="a11y-hidden">Login Form</h1>
  <div>
    <label class="label-userid">
      <input type="text" class="text" name="userid" placeholder="Userid" tabindex="1" required />
      <span class="required">Userid</span>
    </label>
  </div>
  <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
  <label class="label-show-password" for="show-password">
    <span>Show Password</span>
  </label>
  <div>
    <label class="label-password">
      <input type="text" class="text" name="password" placeholder="Password" tabindex="2" required />
      <span class="required">Password</span>
    </label>
  </div>
  <input type="submit" value="Log In" />
 
  <figure aria-hidden="true">
    <div class="person-body"></div>
    <div class="neck skin"></div>
    <div class="head skin">
      <div class="eyes"></div>
      <div class="mouth"></div>
    </div>
    <div class="hair"></div>
    <div class="ears"></div>
    <div class="shirt-1"></div>
    <div class="shirt-2"></div>
  </figure>
</form>


<%- include('../partials/footer') %>